.container{
    padding: 15px 0px 15px 15px;
}
.operator-card{
    border:  1px solid #e0e0e0 ;
    border-radius: 5px;
    // max-width: 45px;
    min-width: 45px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0px 15px 10px 0;
    cursor: pointer;
}
.operator-card:hover{
    background-color: #f4f7f9;
}
.card-container{
    display: flex;
    
    flex-wrap: wrap;
    margin-top: 10px;
  
}
.logical-card{
    min-width: 60px;
    height: 30px;

}