.parent{
    height: 100%;
}
.text-list{
    margin: 14px 0px;
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
}
.clear-operation{
    display: flex;
    padding-right: 25px;
  
}
.input{
    width: calc(100% - 43px);  
    font-weight: 500;  
}
.final-view{
    height: calc(100% - 95px);
    background-color: #f4f7f9;
    overflow: auto;
    padding:0px 15px;
}
.element-box{
    padding: 10px 25px;
    background-color: white;
    font-size: 120%;
    font-weight: 500;
    margin-right: 25px;
    margin-top: 25px;
    position: relative;
    border: 1px solid #67bced;
    display: inline-block;
    color: black;
}
.more{
    position: absolute;
    right: calc(100% + 1px);
    top: 0px;
    height: 25px;
    width: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid #e0e0e0;
    opacity: 0;
    cursor: pointer;
}
.element-box:hover { 
    .more{
        opacity: 1;
    }
}

.smallButton{
    cursor: pointer;

}
.smallButton:hover{
    text-decoration: underline;
    
}